body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 32px;
}

h1 {
    text-align: center;
    font-size: 65px;
}

.button {
    width: 80px;
    height: 25px;
    text-align: center;
    float: right;
    background-color: darkblue;
    margin: 0 2px 0 2px;
    cursor: pointer;
}

    .button a {
        text-decoration: none;
        color: coral;
        line-height: 25px;
    }

#container {
    width: 50%;
    font-size: large;
    margin: 150px auto;
    padding: 50px 30px;
    background-color: coral;
    border-radius: 3px;
    color: white;
    box-shadow: 0 0 10px 0 #999;
}

ul {
    list-style-type: none;
    font-size: 25px;
    padding: 0;
    margin: 0;
    width: 500px;
}

    ul li {
        background: #223394;
        width: 200px;
        margin: 20px;
        padding: 5px;
        display: inline-block;
    }

#prev {
    display: none;
}

#start {
    display: none;
    width: 100px;
}

input[type="radio"] {
    cursor: pointer;
}
